<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754260062806-hiqu60ubfs2g1kir79tpdefvj3707ggl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754260062806-hiqu60ubfs2g1kir79tpdefvj3707ggl</string>
	<key>API_KEY</key>
	<string>AIzaSyBPJakrvlAkc8DUQrm2_Bj7TqKEWe20EQk</string>
	<key>GCM_SENDER_ID</key>
	<string>754260062806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.page.pagehub</string>
	<key>PROJECT_ID</key>
	<string>pagehub-886db</string>
	<key>STORAGE_BUCKET</key>
	<string>pagehub-886db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754260062806:ios:e5745933b2297d8743c1f7</string>
</dict>
</plist>